<div *ngIf="comment" class="comment">
  <div class="comment-header">
    <ul class="list-inline">
      <li class="list-inline-item">
          <user-card [user-card]="comment.userCard"></user-card>
      </li>
      <li class="list-inline-item">
        added at {{ comment.modifiedAt | date:mediumDate}}
      </li>
      <li class="list-inline-item float-right">
        <!-- <buttton class="btn-sm" (click)="addLike()">

        </buttton> -->
        <fa-icon [icon]="likeIcon"></fa-icon>
        <span class="like-count" >
            comment.countLikes
        </span>
      </li>
    </ul>
  </div>
  <div class="comment-content">
    {{ comment.content }}
  </div>
</div>
