  <ul class="list-inline news-stat">
    <li class="list-inline-item news-rating">
      <ngb-rating [rate]="3" [max]="5"></ngb-rating>
      <span ngbTooltip="Number of ratings: {{ newsStat.ratingCount || 0}}" tooltipClass="visitorCount">
         Current rating: {{ newsStat.rating |  number }}
      </span>
    </li>
    <li class="list-inline-item visitor-count">
      <div style="text-align:center">
        <fa-icon [icon]="eyeIco"></fa-icon>
        <span ngbTooltip="Visitor count" tooltipClass="visitorCount">
            {{ newsStat.visitorCount | number }}
        </span>
      </div>
    </li>
    <li class="list-inline-item comment-count">
      <fa-icon [icon]="commentsIcon"></fa-icon>
      <span ngbTooltip="Comment count" tooltipClass="commentCount">
          {{ newsStat.commentCount | number }}
      </span>
      </li>
  </ul>
