
.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}
.full {
  color: #1e90ff;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #1e90ff;
}
span.current-rating {
  margin-left: 5px;
  margin-right: 15px;
}

.visitorCount .tooltip-inner {
  background-color: skyblue;
  font-size: 125%;
}
.visitorCount .arrow::before {
  border-top-color: darkblue;
}

ul.news-stat {
  border: 1px darkblue;
  margin-top: 20px;
}

.news-rating, .visitor-count, .comment-count {
    margin-left: 10px;
}
