.news-card {
  margin-top: 40px;
  border: 0ch;
}
.card-footer {
  background-color: white;
  border: 0ch;
}
.card-header {
  background-color: white;
  /* border-top: 0ch; */
  border: 0ch;
}
.card-body {
  border: 0ch;
}
