<h3 class="text-center">
  User Profile Info!
</h3>
<div class="row user-profile-content">
  <div class="col">
    <div *ngIf="userName" class="account-info col-6">
      <ul class="list-group list-group">
        <li class="list-group-item">UserName
          <div class="float-right">
            {{ userName }}
          </div>
        </li>
        <li *ngIf="role" class="list-group-item">Role
          <div class="float-right">
            {{ role }}
          </div>
        </li>
        <li *ngIf="mail" class="list-group-item">Mail
          <div class="float-right">
            {{ mail }}
          </div>
        </li>
      </ul>
    </div>
    <!-- <user-card [user-card]=""></user-card> -->
  </div>
  <div class="col">
    <div *ngIf="profile else notExistProfile" class="card" style="width: 25rem;">
      <!-- <img *ngIf="profile.avatar" class="card-img-top" src="/uploads/userAvatars/{{profile.avatar}}" alt="{{ profile.userId }}"> -->
      <div class="card-body">
        <h4 class="card-title">Profile Info</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="firstName-addon1">First Name:</span>
              </div>
              <input-editor class="mx-auto" id="firstName" [(ngModel)]="profile.firstName" type="text" placeholder="Enter First Name"
                (onSave)="sampleClick()"></input-editor>
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="lastName-addon1">Last Name:</span>
              </div>
              <input-editor class="mx-auto" id="lastName" [(ngModel)]="profile.lastName" type="text" placeholder="Enter Last Name"
                (onSave)="sampleClick()"></input-editor>
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="birthDay-addon1">Birth Day:</span>
              </div>
              <date-editor class="mx-auto float-right" [(ngModel)]="profile.birthDay" placeholder="Enter a Date" format="shortDate">
              </date-editor>
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="specialization-addon">Specialization:</span>
              </div>
              <input-editor class="mx-auto float-right" id="specialization" [(ngModel)]="profile.specialization" type="text"
                placeholder="Enter Your Specialization" (onSave)="sampleClick()"></input-editor>
            </div>
          </li>
          <li class="list-group-item font-weight-bold">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="specialization-addon">City:</span>
              </div>
              <input-editor class="mx-auto float-right" id="city" [(ngModel)]="profile.city" type="text" placeholder="Enter Your Specialization"
                (onSave)="sampleClick()"></input-editor>
            </div>
          </li>
          <li class="list-group-item font-weight-bold">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="specialization-addon">Country:</span>
                </div>
                <input-editor class="mx-auto float-right" id="country" [(ngModel)]="profile.country" type="text"
                  placeholder="Enter Your Specialization" (onSave)="sampleClick()"></input-editor>
              </div>
            </li>
        </ul>
      </div>
    </div>
    <ng-template #notExistProfile>
      <h6>Profile doesn't exist yet</h6>
      <a class="btn btn-primary" [routerLink]="['/user/create-profile']" routerLinkActive="router-link-active">Create</a>
    </ng-template>
  </div>
</div>
