<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">ITNews</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">News <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Users</a>
      </li>
      <ng-template #auth>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user/login']" routerLinkActive="router-link-active">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user/registration']" routerLinkActive="router-link-active">Registration</a>
      </li>
      </ng-template>
      <li ngbDropdown class="nav-item dropdown" *ngIf="isLoggedIn$ | async as isLoggedIn else auth">
        <button *ngIf="username$ | async as username" class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>{{ username }}</button>
        <!-- <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a> -->
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/user/login']" routerLinkActive="router-link-active" >Profile</a>
          <a class="dropdown-item" [routerLink]="['/']" routerLinkActive="router-link-active" >My News</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Exit</a>
        </div>
      </li>
    </ul>
    <div class="nav-item">
        <a class="nav-link btn btn-secondary" [routerLink]="['/news/create-news']" routerLinkActive="router-link-active">Create News</a>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
