<div class="jumbotron">
  <h1 class="display-4 text-center">News Creation Page!</h1>
  <hr class="my-4">
  <form action="" autoccomlete="on">
    <div class="form-group col-6">
      <label for="title">
        Title
      </label>
      <input type="text" id=title name="title" class="form-control" placeholder="Enter Title">
    </div>
    <div class="form-group col-6">
      <label for="description">
        Description
      </label>
      <textarea name="" id="description" cols="30" rows="10" class="form-control" placeholder="Write a Description for News"></textarea>
    </div>
  </form>
</div>
