h4.tags {
  margin-top: 20px;
}
.form-horizontal .ngui-auto-complete {
  width: 500px !important;
  position: absolute;
  left: 10px !important;
  top: 10px !important;
}
.form-horizontal .ngui-auto-complete ul {
  background-color: black;
}
 .variable-binding,
.variable-textarea {
  width: 100%;
}
.variable-textarea {
  min-height: 420px;
  padding: 8px;
}

.variable-binding {
  display: block;
  float: right;
}
