<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <news-card-list [page]="page" [pageSize]="pageSize" (totalItem)="changeTotalItems($event)" class="latest">
        </news-card-list>
      </div>
      <div class="row paginator">
        <div class="col">
          <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalItems">
          </ngb-pagination>
        </div>
        <div class="col">
          <div class="float-right">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text"> Page Size: </label>
              </div>
              <select class="custom-select" id="inputGroupSelect01" (change)="changePageSize($event.target.value)">
                <!-- <option selected>{{ pageSize }}</option> -->
                <option *ngFor="let size of pageSizeArray" value="{{size}}">{{size}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 sidebar">
      <div class="most-viewed-card">
        <div class="most-viewed-header">
          <h3>Most Viewed</h3>
        </div>
        <div *ngIf="mostViewedNews.length > 0" class="most-viewed-content">
          <ul class="content-list-most-viewed">
            <li *ngFor="let n of mostViewedNews" class="list-item-most-viewed">
              <mini-news-card [news]="n"></mini-news-card>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <angular-tag-cloud
        *ngIf="cloudData.length > 0"
            [data]="cloudData"
            [width]="options.width"
            [height]="options.height"
            [overflow]="options.overflow"
            [strict]="true"
            [zoomOnHover]="zoomOnHoverOptions"
            (clicked)="showTag($event)">
        </angular-tag-cloud>
      </div>
    </div>
  </div>
</div>
