
<div class="card text-center">
  <div class="card-header">
    Success Saving Page
  </div>
  <div class="card-body">
    <h5 class="card-title">Congratulations!</h5>
    <p class="card-text">News with {{ newsId}} id has been succesfully {{ action }}</p>
    <a class="btn btn-primary btn-md" role="button" [routerLink]="['/']" routerLinkActive="router-link-active" >Go home page</a>
    <a class='btn btn-info btn-md' role="button" [routerLink]="['/news/view-news', newsId]" routerLinkActive="router-link-active">View News</a>
    <a class='btn btn-debug btn-md' role="button" [routerLink]="['/news/edit/', newsId]" routerLinkActive="router-link-active">Edit News</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
